<div class = "main-container">
  <p><h1 align = "center">Edit This Article</h1></p>
  <%= render 'form', article: @article %>
  <%= link_to 'Back', articles_path %> |
  <%= link_to 'View this article', @article %>
</div>
